/* Smartphone */
@font-face {
    font-family: Poppins-Thin;
    src: url(../../assets/fonts/Poppins/Poppins-Thin.ttf);
}
@font-face {
    font-family: Poppins-Regular;
    src: url(../../assets/fonts/Poppins/Poppins-Regular.ttf);
}

.perfil-usuario {
    width: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.perfil-usuario__menuitem {
    font-family: Poppins-Regular;
    font-size: .8rem;
    color: #201849;
    text-decoration: none;
}

.perfil-usuario__menuitem__login {
    width: 115px;
    height: 45px;

    background-color: #B51D44;
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: Poppins-Regular;
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
}

.perfil-usuario__icon {
    width: 20px;
    cursor: pointer;
}
/* 201849 */